@import "../moc/styles.css";
@import "../moc/attendance/attendance-sidepanel.css";

html,
body,
#root {
  min-height: 100%;
  margin: 0;
}

#root {
  width: 100%;
}

.hidden {
  display: none !important;
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}
